name: CI
on:
  - push
  - pull_request

# A workflow run is made up of one or more jobs that can run sequentially or in parallel
jobs:

  php:
    strategy:
      matrix:
        include:
          # Has php7.4-8.2 and composer 2.4 pre-installed
          # https://github.com/actions/runner-images/blob/6b24925/images/linux/Ubuntu2004-Readme.md#php
          - os: ubuntu-20.04
            php: "7.4"
          - os: ubuntu-20.04
            php: "8.0"
          # https://github.com/actions/runner-images/blob/c4d1068/images/ubuntu/Ubuntu2204-Readme.md#php-tools
          - os: ubuntu-22.04
            php: "8.1"
          - os: ubuntu-20.04
            php: "8.2"
          # https://github.com/actions/runner-images/blob/c4d1068/images/ubuntu/Ubuntu2404-Readme.md#php-tools
          - os: ubuntu-24.04
            php: "8.3"

    # Use "PHP 0.0" as job name instead of "php (ubuntu-, 0.0)"
    name: PHP ${{ matrix.php }}
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v2

      - name: Use PHP ${{ matrix.php }}
        run: sudo update-alternatives --set php /usr/bin/php${{ matrix.php }}

      - name: composer install
        run: composer install

      - name: composer test
        run: composer test
